@import url("https://fonts.googleapis.com/css2?family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap");

:root {
  --primary-color: #7700f6;
  --background-color: #222831;
  --accent1-color: #222831;
  --accent2-color: #5d02bd;
  --text-color: #eeeeee;

  --heading-font: "Newsreader", "Palatino", serif;
  --paragraph-font: "Newsreader", "Palatino Linotype", serif;
}

body {
  font-family: var(--paragraph-font);
  background-color: var(--background-color);
  color: var(--text-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
  font-weight: normal;
}

h1 {
  font-variant: small-caps;
}

header {
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 10px;
  border-bottom: 4px solid var(--accent2-color);
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav a {
  color: var(--text-color);
  text-decoration: none;
  margin: 10px 0;
  font-weight: bold;
}

.hide {
  display: none;
}

.menu-btn {
  background-color: var(--primary-color);
  border: none;
  color: var(--text-color);
  font-size: 22px;
  cursor: pointer;
  padding: 5px;
}

main {
  padding: 20px;
  margin: 0 auto;
}

footer {
  background-color: var(--primary-color);
  color: var(--text-color);
  border-top: 4px solid var(--accent2-color);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 20px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

#social-links {
  display: flex;
  justify-content: space-around;
  gap: 15px;
}

.social-icon {
  width: 30px;
  height: 30px;
}
