@import url("https://fonts.googleapis.com/css2?family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap");

:root {
  --primary-color: #7700f6;
  --background-color: #222831;
  --accent1-color: #222831;
  --accent2-color: #5d02bd;
  --text-color: #eeeeee;

  --heading-font: "Newsreader", "Palatino", serif;
  --paragraph-font: "Newsreader", "Palatino Linotype", serif;
}

body {
  font-family: var(--paragraph-font);
  background-color: var(--background-color);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
  font-weight: normal;
}

h1 {
  font-variant: small-caps;
}

header {
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 10px;
  border-bottom: 4px solid var(--accent2-color);
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav a {
  color: var(--text-color);
  text-decoration: none;
  margin: 10px 0;
  font-weight: bold;
}

.hide {
  display: none;
}

.menu-btn {
  background-color: var(--primary-color);
  border: none;
  color: var(--text-color);
  font-size: 22px;
  cursor: pointer;
  padding: 5px;
}

main {
  padding: 20px;
  margin: 0 auto;
  flex: 1;
}

.project-card {
  background-color: var(--accent2-color);
  border: 4px solid var(--primary-color);
  border-radius: 8px;
  padding: 10px 15px;
  margin: 15px 0 25px 0;
}

.project-card img {
  max-width: 100%;
  height: auto;
  border-radius: 4px;
  display: block;
  margin: 0 auto;
}

.project-card h3 {
  margin: 0 0 10px 0;
  text-align: center;
  font-size: 28px;
  font-variant: small-caps;
}

.project-card a {
  color: var(--text-color);
  text-decoration: underline;
}

.project-card a:hover {
  text-decoration: none;
  color: var(--accent1-color);
}

footer {
  background-color: var(--primary-color);
  color: var(--text-color);
  border-top: 4px solid var(--accent2-color);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#social-links {
  display: flex;
  justify-content: space-around;
  gap: 15px;
}

.social-icon {
  width: 30px;
  height: 30px;
}

@media screen and (min-width: 600px) {
  nav {
    flex-direction: row;
  }

  .menu-btn {
    display: none;
  }

  .hide {
    display: flex;
  }

  nav a {
    margin: 0 40px;
  }

  nav a:hover {
    text-decoration: underline;
  }

  main {
    max-width: 680px;
    font-size: 18px;
  }

  .project-card img {
    max-width: 85%;
  }
}
